{#
/**
 * @file public_key_credential_source.html.twig
 * Default theme implementation to present Public Key Credential Source data.
 *
 * This template is used when viewing Public Key Credential Source pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_public_key_credential_source()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('public_key_credential_source') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
